@use 'main/fonts.scss';
@use 'main/theme.scss';

@import url('https://fonts.googleapis.com/css2?family=Space+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

@tailwind base;
@tailwind components;
@tailwind utilities;

*,
::after,
::before {
  position: relative;
  padding: 0;
  margin: 0;
  border-style: border-box;
  -webkit-font-smoothing: inherit;
  font-family: 'Volte-Rounded-Regular', 'Volte-Rounded-Semibold',
    'Volte Rounded', 'Apercu';
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  box-sizing: border-box;
  @apply text-black dark:text-white;
}

.gradient-text {
  background-image: linear-gradient(94.67deg, #9935e8, #e85535);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

html,
body {
  text-size-adjust: 100%;
  scroll-behavior: smooth;
  font-weight: 200;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  text-rendering: optimizeLegibility;
  text-size-adjust: none;
  direction: ltr;
  transition: background 2s;
  position: relative;
}

.text-ctm {
  @apply text-[#2b2b2b] dark:text-[#e6e6e6];
}
.text-ctm-inv {
  @apply text-[#e6e6e6] dark:text-[#2b2b2b];
}

.dot-flashing {
  position: relative;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #ffffff;
  color: #ffffff;
  animation: dot-flashing 1s infinite linear alternate;
  animation-delay: 0.5s;
  margin: 0 auto;
}
.dot-flashing::before,
.dot-flashing::after {
  content: '';
  display: inline-block;
  position: absolute;
  top: 0;
}
.dot-flashing::before {
  left: -15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #ffffff;
  color: #ffffff;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 0s;
}
.dot-flashing::after {
  left: 15px;
  width: 10px;
  height: 10px;
  border-radius: 5px;
  background-color: #ffffff;
  color: #ffffff;
  animation: dot-flashing 1s infinite alternate;
  animation-delay: 1s;
}

@keyframes dot-flashing {
  0% {
    background-color: #ffffff;
  }
  50%,
  100% {
    background-color: #fff3f333;
  }
}

.blog-pre {
  margin-bottom: 3em !important;
  position: relative;
}

.code-copy-btn {
  color: white;
  position: absolute;
  right: 15px;
  top: 15px;
  font-size: 1.5em;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
  width: 20px;
  z-index: 10;
}

[data-rehype-pretty-code-figure] pre {
  @apply px-0;
}

[data-rehype-pretty-code-figure] code {
  @apply text-sm !leading-loose md:text-base border-0 p-0 py-4;
}

[data-rehype-pretty-code-figure] code[data-line-numbers] {
  counter-reset: line;
}

[data-rehype-pretty-code-figure] code[data-line-numbers] > [data-line]::before {
  counter-increment: line;
  content: counter(line);
  @apply mr-4 inline-block w-4 text-right text-gray-500;
}

[data-rehype-pretty-code-figure] [data-line] {
  @apply border-l-2 border-l-transparent px-3;
}

[data-rehype-pretty-code-figure] [data-highlighted-line] {
  background: rgba(200, 200, 255, 0.1);
  @apply border-l-blue-400;
}

[data-rehype-pretty-code-figure] [data-highlighted-chars] {
  @apply rounded bg-zinc-600/50;
  box-shadow: 0 0 0 4px rgb(82 82 91 / 0.5);
}

[data-rehype-pretty-code-figure] [data-chars-id] {
  @apply border-b-2 p-1 shadow-none;
}

.subheading-anchor {
  @apply no-underline hover:underline;
}

.hightlight_warn {
  @apply p-2 bg-yellow-100 border border-orange-200 rounded-[8px] my-4 !text-[#000];
  p {
    @apply mb-0 !text-[#000];
  }
}

code {
  @apply !py-0;
  span {
    @apply text-[#e85535] dark:text-[#e85535];
  }
}

code:not(pre code) {
  padding: 3px 5px;
  background: #171717c9;
  border: 1px solid #1c1c1c;
  border-radius: 0.375rem;
  display: inline-block;
  line-height: 1.2;
  margin: 0;
}

pre {
  @apply my-4;
}

pre > code {
  counter-reset: line;
  @apply border border-slate-800 rounded-[10px] !py-4 overflow-auto scrollbar-thin scrollbar-thumb-gray-900 scrollbar-track-transparent h-[30rem] max-h-[31rem];
}

pre > code > [data-line]::before {
  counter-increment: line;
  content: counter(line);

  /* Other styling */
  display: inline-block;
  width: 1rem;
  margin-right: 2rem;
  text-align: right;
  color: gray;
}

pre > code[data-line-numbers-max-digits='2'] > [data-line]::before {
  width: 2rem;
}

pre > code[data-line-numbers-max-digits='3'] > [data-line]::before {
  width: 3rem;
}

pre > code[data-theme*=' '],
pre > code[data-theme*=' '] span {
  color: var(--shiki-light);
  background-color: var(--shiki-light-bg);
  font-family: Roboto Mono, Menlo, Monaco, Liberation Mono, DejaVu Sans Mono,
    Courier New, monospace;
}
pre > code[data-theme*=' '] span {
  @apply text-[0.8rem];
}

@media (prefers-color-scheme: dark) {
  pre > code[data-theme*=' '],
  pre > code[data-theme*=' '] span {
    color: var(--shiki-dark);
    background-color: var(--shiki-dark-bg);
  }
}

p {
  margin-bottom: 1rem;
}

.rc-anchor-normal-footer {
  display: none !important;
}
.grecaptcha-badge {
  visibility: hidden;
}
